PyQt5~=5.15.2
QDarkStyle~=2.8.1

mysql~=0.0.2
mysql-connector-python~=8.0.23

bcrypt~=3.2.0
clipboard~=0.0.4
passgen~=1.1.1
python-dotenv~=0.15.0

black
shed
flake8
mypy

pytest~=6.2.2
pytest-qt
pytest-xvfb
